<div class="login-container">
  <h2>TaskFlow</h2>
  <p>{{ isRegistering ? 'Create Account' : 'Welcome Back' }}</p>

  <!-- LOGIN -->
  <form *ngIf="!isRegistering" (ngSubmit)="onLogin()">
    <input type="email" placeholder="Email" [(ngModel)]="loginForm.email" name="email" required />
    <input type="password" placeholder="Password" [(ngModel)]="loginForm.password" name="password" required />
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <button type="submit">Login</button>
    <span (click)="toggleMode()">Register here</span>
  </form>

  <!-- REGISTER -->
  <form *ngIf="isRegistering" (ngSubmit)="onRegister()">
    <input placeholder="Name" [(ngModel)]="registerForm.name" name="name" required />
    <input type="email" placeholder="Email" [(ngModel)]="registerForm.email" name="email" required />
    <input type="password" placeholder="Password" [(ngModel)]="registerForm.password" name="password" required />
    <input type="password" placeholder="Confirm Password" [(ngModel)]="registerForm.confirmPassword" name="confirm" required />
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <button type="submit">Register</button>
    <span (click)="toggleMode()">Login here</span>
  </form>
</div>