.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

.add-btn {
  background: #4f6ef7;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}

.assignee {
  background: #eef2ff;
  padding: 5px;
  margin: 5px 0;
}