/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #3a5bd9, #6c63ff);
  }